.container-nav{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
   background-color: transparent;
    box-shadow: 0 0 20px rgb(88, 86, 86);
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.container-nav button {
font-size: 1.5rem;
}





