body {
  margin: 0;
  font-family: 'Fredoka One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?auto=format&fit=crop&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&q=80&w=1531) no-repeat 50% fixed;
  text-align: center;
  background-size: cover;
  margin:0px 0px 0px 0px;
/*   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body input{
  font-family: 'Fredoka One', cursive;
  color: #464646;
  box-shadow: 3px 3px 7px rgb(20 20 20 / 80%); 
  cursor: pointer;
  background-color: #f1b6b8;
  text-align: center;
  border-radius: 5px;
  margin: 0.5rem;
}

body input:hover{
    background-image: linear-gradient(to right, #f39a9d 0%, #dd9869  51%, #ebbf7d  100%);
}

body select{
  cursor: pointer;
  box-shadow: 3px 3px 5px rgb(20 20 20 / 80%);
  color: #464646;
  background-image: linear-gradient(to right, #f3bfc1 0%, #f0c6aa  51%, #ebc68f 100%);
  font-family: 'Fredoka One', cursive;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 0.9rem;
  margin-bottom: 3rem;
  
}

body option {
  color: #464646;
  font-size: 1rem;
  background:#f1b6b8
} 

body button {
  font-family: 'Fredoka One', cursive;
  font-size: 1rem;
  background-image: linear-gradient(to right, #f3bfc1 0%, #f0c6aa  51%, #ebc68f 100%);
  cursor: pointer;
  border-radius: 0.5rem;
}

body button:hover{
  background-image: linear-gradient(to right, #f39a9d 0%, #dd9869  51%, #ebbf7d 100%);
 transition: transform .5s ease;
 transform: scale(1.1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
