.footer {
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
   background-color: #f1b6b8;
    box-shadow: 0 0 20px rgb(88, 86, 86);
    height: 5rem;
    width: 100%;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    padding: 10px 22px;

    box-sizing: border-box;
}

.image1 {
    max-width: 100%;
    width: 50px;
    position: relative;
    top: 8px; 
    right: 100px;
    margin-bottom: 1rem;
}

.image1:hover{
    transition: transform .5s ease;
    transform: scale(1.1);
}

.image2 {
    max-width: 100%;
    width: 50px;
    position: relative;
    top: 8px; 
    left: 100px;
    margin-bottom: 1rem;
}

.image2:hover{
    transition: transform .5s ease;
    transform: scale(1.1);
}
